<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('css/ext/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ asset('css/ext/modern-business.css') }}" rel="stylesheet">

    <link href="{{ asset('css/extra.css') }}" rel="stylesheet">

    {% block stylesheets %}
    <style>
        .bg-dark {
            /*Override the default color with the theme color*/
            background-color: {{ theme.color }};
        }
        .nav-item > .nav-link, footer > .container > p, .navbar-brand {
            color: rgb({{ theme.textColor }},{{ theme.textColor }},{{ theme.textColor }}) !important;
        }
    </style>
    {% endblock %}

</head>

<body>

<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" id="navbar-brand" href="/">{{ theme.siteName }}</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="about.html">Teams</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="services.html">Tournaments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Schedule</a>
                </li>
                <li class="nav-item">
                    <div style="width:30px;"></div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div style="display: inline;  margin-left: 10px;">
                            {% if username is defined %}
                                <img src='{{ asset('img/placeholder.png') }}' height="20px" width="20px">
                                {{ username|e }}
                            {%  else %}
                                Log in
                            {% endif %}
                        </div>
                    </a>

                    {% if username is defined %}
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                            <a class="dropdown-item" href="portfolio-1-col.html">Settings</a>
                            {% if role is defined %}
                                {% if role == 5 %}
                                    <a class="dropdown-item" href="/admin/theming">Admin</a>
                                {% endif %}
                            {% endif %}
                        </div>
                    {% else %}
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                            <a class="dropdown-item" href="/login">Login</a>
                            <a class="dropdown-item" href="/register">Register</a>
                        </div>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>

{% block body %}{% endblock %}

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
    </div>
    <!-- /.container -->
</footer>

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/rpc/Client.js') }}"></script>
{% endblock %}
</body>

</html>
